{% extends 'base.html.twig' %}

{% block body %}
    <div class="page">
        <h1 class="header__logo"><a href="" class="ir">Radio Wizi</a></h1>

        <div class="content-wrapper content--centered">
            <div class="player">
                <div class="player__media">
                    <div class="player__video">
                        <div class="iframe" id="player"></div>
                    </div>
                </div>
                <div class="player__detail">
                    <h3 class="player__label">Now playing</h3>

                    <h2 class="player__title">{{ video.title }}</h2>

                    <div class="player__controls">
                        <div class="player__time-indicator">

                        </div>
                        <div>
                            1:24
                        </div>
                    </div>
                </div>
            </div>
            <div class="playlist__wrapper">
                <h3 class="playlist__title">Coming up</h3>
                <ol class="playlist"></ol>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: '{{ video.youtubeKey }}',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }
        var done = false;
        function onPlayerStateChange(event) {
            if (event.data == 0 && !done) {
                done = true;
                $.ajax({
                    url: '/ajax/set-done/{{ video.id }}'
                }).done(function () {
                    window.location = window.location;
                });
            }
        }
    </script>
{% endblock %}
