{% extends 'base.html.twig' %}

{% block body %}
        <div class="content-wrapper content--centered">
            <div class="player player--empty">
                <div class="player__media">
                    <div class="player__video">
                        <img src="/images/empty-playlist.gif" />
                    </div>
                </div>
                <div class="player__detail">
                    <h3 class="player__label">Now playing</h3>
                    <h2 class="player__title">There is nothing playing :'(</h2>
                </div>
            </div>
            <div class="playlist__wrapper">
                <h3 class="playlist__title">Coming up</h3>
                <p>There are no songs in the playlist queue, add some in the Radio Wizi room on HipChat.</p>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    <script>
        setTimeout(function(){
            window.location = window.location;
        }, 10000);
    </script>
{% endblock %}
