{% extends 'base.html.twig' %}

{% block body %}
    <div class="page">
        <h1 class="header__logo"><a href="" class="ir">Radio Wizi</a></h1>
        <div class="content-wrapper content--centered">
            <div class="player">
                <h1>Playlist empty</h1>
            </div>
            <div class="playlist__wrapper">
                <h3 class="playlist__title">Coming up</h3>
                <p>Playlist empty, add more items in playlist in HipChat.</p>
            </div>
        </div>
    </div>
{% endblock %}
