
body {
  background-color: $black;
}

.page {
  height: 100%;
}

.content--centered {
  margin: 0 auto;
  width: $desktop-base;
  @include media(max-width $desktop-wide) {
    width: 94%;
  }
  @include media(max-width $tab-width) {
    padding: 0 $half-spacing-unit;
    width: 100%;
  }
}

.content-wrapper {
}
