
body {
  background: image-url('bg-lush.jpg') top center no-repeat;
  background-size: cover;
}

.page {
  height: 100%;
}

.content--centered {
  margin: 0 auto;
  width: $tab-width;
  @include media(max-width $desktop-wide) {
    //width: 94%;
  }
  @include media(max-width $tab-width) {
    padding: 0 $half-spacing-unit;
    width: 100%;
  }
}

.content-wrapper {
  background: $white;
  border-radius: 4px;
  overflow: hidden;
}
