<div class="content-wrapper content--centered" ng-if="videoavailable == true">
    <div class="player">
        <div class="player__media">
            <div class="player__video">
                <youtube-video video-id="radiowizivideo" class='iframe' player-vars="playerVars"></youtube-video>
            </div>
        </div>
        <div class="player__detail">
            <h3 class="player__label">Now playing</h3>

            <h2 class="player__title" data-video-id="{{ video.id }}" data-youtube-id="{{ video.youtubekey }}"
                data-video-skip="{{ startSeconds }}">
                {{ video.title }}
            </h2>

            <span class="player__requester-title">Requested by <em class="player__requester-name">{{ video.requestname
                }}</em></span>

            <div class="player__controls">
                <div class="controls--left">
                    <div class="player__time-timer">
                        {{ currenttime }}
                    </div>
                </div>
                <div class="controls--middle">
                    <div class="player__mute">
                        <a ng-click="mute()" href="" class="ir">mute</a>
                    </div>
                </div>
                <div class="controls--right">
                    <div class="player__time-duration">
                        {{ video.duration }}
                    </div>
                </div>
                <div class="player__time-indicator">
                    <div class="player__time-progress" ng-style="progressBarStyle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="playlist__wrapper" id="coming-up">
        <h3 class="playlist__title">Coming up</h3>
        <ol class="playlist">
            <li ng-repeat="song in upcomingsongs" class="playlist__song">
                <span class="song__title">{{ song.title }}</span>
            </li>
        </ol>
    </div>

    <div class="playlist__wrapper">
        <h3 class="playlist__title">Last 10 songs</h3>
        <ol class="playlist">
            <li ng-repeat="song in lastsongs" class="playlist__song">
                <span class="song__title">{{ song.title }}</span>
            </li>
        </ol>
    </div>
</div>

<div class="content-wrapper content--centered" ng-if="videoavailable == false">
    <div class="player player--empty">
        <div class="player__media">
            <div class="player__video">
                <img src="/images/empty-playlist.gif"/>
            </div>
        </div>
        <div class="player__detail">
            <h3 class="player__label">Now playing</h3>

            <h2 class="player__title">There is nothing playing :'(</h2>
        </div>
    </div>
    <div class="playlist__wrapper">
        <h3 class="playlist__title">Coming up</h3>

        <p>There are no songs in the playlist queue, add some in the Radio Wizi room on HipChat.</p>
    </div>
</div>