/* 50 shades of grey */
$black:           #161616;
$white:           #fff;
$lighter-grey:    #eceaed;
$grey3:           #ccc;

$darker-grey:     #292929;
$dark-grey:       #333;
$grey:            #707070;
$light-grey:      #666;
$text-light-grey: #5a5a5a;
$medium-grey:     #afafaf;

$blue-white:      #f5f8fb;

$green:           #00b68c;
$red:             #ec6a61;
$blue:            #8bd2df;
$blue-alt:        #5493e7;
$gold:            #ab8f5e;

$border-color:    $grey3;
$text-color:      $text-light-grey;