<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Radio Wizi - Instant classics</title>
        <meta name="description" content="Radio Wizi.">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>
        {% block body %}{% endblock %}
    {% block javascripts %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/src/main.js"></script>

    <script async="async" src="//radiowizi.dev:35729/livereload.js?snipver=1"></script>
        {% endblock %}
    </body>
</html>
