<!DOCTYPE html>
<html lang="en">
<head>
    <title>{%  block title %}{% endblock %}Radio Wizi - Instant classics</title>
    <meta name="description" content="Radio Wizi.">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.min.css">

</head>
<body>
    <div class="page">
        <h1 class="header__logo"><a href="" class="ir">Radio Wizi</a></h1>
{% block body %}{% endblock %}
    </div>
{% block javascripts %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/src/main.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript">
        var player;
        var done = false;

        $(document).ready(function() {
            var $timeDuration = $('.player__time-duration')
            $timeDuration.text($timeDuration.text().toHHMMSS());
            ajaxLoadPlaylist();
        });

        /**
         * Ajax function to load the upcoming movies
         */
        function ajaxLoadPlaylist() {
            $.ajax({
                url: '/ajax/load-videos'
            }).done(function (data) {
                $('#coming-up .playlist').html('');
                $.each(data, function (k, value) {
                    var listItem = '<li class="playlist__song">';
                    listItem += '<span class="song__title">';
                    listItem += value.title;
                    listItem += '</span></li>';

                    $('#coming-up .playlist').append(listItem);
                });
            });
        }

        /**
         * Youtube api is ready, create player
         */
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '390',
                width: '640',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                },
                playerVars: {
                    controls: 0,
                    disablekb: 1,
                    fs: 0,
                    iv_load_policy: 3,
                    modestbranding: 1,
                    rel: 0
                }
            });
        }

        /**
         * Load video by youtube key
         */
        function loadVideoId(videoKey) {
            player.loadVideoById({
                'videoId': videoKey,
                'startSeconds': 0,
                'suggestedQuality': 'large'
            });
        }

        /**
         * Youtube player state has changed (pause / play / end)
         */
        function onPlayerStateChange(event) {
            if (event.data == 0) {
                done = true;
                $.ajax({
                    url: '/ajax/set-done/' + $('#video-id').text()
                }).done(function () {
                    window.location = window.location;
                });
            }
        }

        /**
         * Toggle muted stated of player
         */
        function muteToggle() {
            if (player.isMuted()) {
                player.unMute();
            } else {
                player.mute();
            }
        }

        /**
         * Parse seconds to HH:MM:SS format
         *
         * @returns {string}
         */
        String.prototype.toHHMMSS = function () {
            var sec_num = parseInt(this, 10);
            var hours   = Math.floor(sec_num / 3600);
            var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
            var seconds = sec_num - (hours * 3600) - (minutes * 60);

            if (hours   < 10) {hours   = "0"+hours;}
            if (minutes < 10) {minutes = "0"+minutes;}
            if (seconds < 10) {seconds = "0"+seconds;}
            return hours+':'+minutes+':'+seconds;
        };

        /**
         * On youtube player ready
         * @param event
         */
        function onPlayerReady(event) {
            loadVideoId($('#video-key').text());
            event.target.playVideo();
        }
    </script>
{% endblock %}
</body>
</html>
