.btn {
  background: transparent;
  border: 2px solid $white;
  color: $white;
  display: inline-block;
  font-weight: 700;
  padding: $half-spacing-unit/2 $base-spacing-unit;
  @include transition(all .2s ease-in-out);
  &:hover {
    //border-color: $green;
    //color: $green;
    text-decoration: none;
  }
  @include media(max-width 320px) {
    text-align: center;
    width: 100%;
  }
}

.btn--black {
  border-color: $black;
  color: $black;
  &:hover {
    background: $black;
    border-color: $black;
    color: $white;
  }
}

.btn--full-black {
  background: $black;
  border-color: $black;
  color: $white;
  &:hover {
    background: $white;
    border-color: $black;
    color: $grey;
  }
}


.btn--white {
  border-color: $white;
  color: $white;
  &:hover {
    border-color: $green;
    color: $green;
  }
}

.btn-inline {
  display: inline-block;
}

.button-list {
  margin: $base-spacing-unit*2 0 0;
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    margin-right: $half-spacing-unit;
  }
}

.buttons__wrapper {
  bottom: 20%;
  position: absolute;
  width: 100%;
}