.tab__wrapper {
  background: #0e0d0d;
  clear: both;
  width: 100%;
}

.tab__list {
  @extend .clearfix;
  display: table;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    background-color: #0e0d0d;
    color: #909090;
    display: block;
    @include rem(font-size, 20);
    letter-spacing: 2px;
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-family: $title-font;
    width: 33.33%;
  }
  a {
    background-color: #0e0d0d;
    border: none;
    color: #909090;
    display: block;
    padding: 12px;
    @include transition(all .2s ease-in-out);
    &:hover {
      background-color: #000;
      border: none;
      color: #fff;
    }
  }
  .active {
    a {
      background-color: #1c1d1f;
      color: #909090;
      &:hover {
        background-color: #000;
        border: none;
        color: #fff;
      }
    }
  }
}

/**
 * Playlist stuff
 */

.playlist__wrapper {
  overflow: auto;
  position: relative;
}

.playlist__message {
  margin: 170px 0 0;
  padding: $base-spacing-unit;
}

.title__wrapper {
  background-image: image-url('title-background.svg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 308px 170px;
  display: block;
  height: 170px;
  position: absolute;
  left: 0;
  top: 0;
  text-align: right;
  width: 16.6666% * 2;
  z-index: 20;

  .playlist__title {
    max-width: 308px;
    padding: 12px;
    float: right;
    margin-right: 92px;
    line-height: 1;
  }
}

.playlist__title {
  color: #fff;
  @include rem(font-size, 40);
  margin: 0;
}

.playlist {
  @extend .clearfix;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

.playlist__song {
  background: #1c1d1f;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 180%;
  //background-size: cover;
  float: left;
  height: 180px;
  height: 16.666vw;
  overflow: hidden;
  position: relative;
  width: 16.6666%;

  @include transition(all .2s ease-in-out);
 /* img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    opacity: 0.2;
  }*/
  &:hover {
    .song__overlay {
      opacity: .3;
    }
  }
}

.song--big {
  width: 16.6666% * 2;
  height: 360px;
  height: 16.6666vw * 2;
}

.song__title {
  @include rem(font-size, 20);

  .song--big & {
    @include rem(font-size, 40);
  }
}

.song__overlay {
  background: #1c1d1f;
  height: 100%;
  left: 0;
  opacity: .6;
  position: absolute;
  top: 0;
  width: 100%;

  @include transition(opacity .2s ease-in-out);
}

.song__info {
  bottom: 0;
  color: $white;
  @include rem(font-size, 20);
  padding: 12px;
  position: absolute;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, .9);
  z-index: 10;

  h5 {
    margin: 0;
  }
}

.song__image {
  display: none;
}

/**
 * Mediaqueries
 */

@include media(max-width $desktop-wide) {

}

@include media(max-width $desktop-normal) {

  /*
  .song__title {
    @include rem(font-size, 16);

    .song--big & {
      @include rem(font-size, 30);
    }
  }
  .song__info {
    h5 {
      @include rem(font-size, 12);
      .song--big & {
        @include rem(font-size, 20);
      }
    }
  }*/
}

@include media(max-width $desktop-base) {
  .playlist__song {
    height: 20vw;
    width: 20vw;
    &:nth-of-type(n + 8) {
      display: none;
    }
  }
  .song--big {
    width: 40%;
    height: 40vw;
  }
  .title__wrapper {
    width: 40%;
  }
}

@include media(max-width $tab-width + 120) {
  .playlist__song {
    height: 25vw;
    width: 25vw;
    &:nth-of-type(n + 8) {
      display: block;
    }
  }
  .song--big {
    width: 50%;
    height: 50vw;
  }
  .title__wrapper {
    width: 50%;
  }
}

@include media(max-width $phone-big) {
  .playlist__song {
    height: 33.3333vw;
    width: 33.3333vw;
    &:nth-of-type(n + 7) {
      display: none;
    }
  }
  .song--big {
    width: 66.6666%;
    height: 66.6vw;
  }
  .title__wrapper {
    width: 66.6666%;
  }
  .song__info {
    h5 {
      display: none;
    }
  }
}

@include media(max-width $phone-width) {
  .playlist__song {
    height: 50vw;
    width: 50vw;
    &:nth-of-type(n + 7) {
      display: block;
    }
  }
  .song--big {
    width: 100%;
    height: 100vw;
  }
  .title__wrapper {
    width: 100%;
  }

  .tab__list {
    li {
      width: 100%;
    }
  }
}