/**
 * Players gonna play
 */

.player__wrapper {
  height: 100vh;
  padding: 120px 0 0;
  position: relative;
  width: 100%;
}

.player {
  @extend .clearfix;
  padding-left: 160px;
  width: 100%;
}

.player__video {
  height: 420px * 0.5625;
  //padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  width: 100%;
  width: 420px;

  .iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img {
    display: block;
    height: 100%;
    width: auto;
  }
}

.player__title {
  @include rem(font-size, 66);
  margin: 0 0 $base-spacing-unit*2;
  line-height: 1;

  @include media(max-width $base-width) {
    @include rem(font-size, 54);
  }
}

.player__request {
  color: $grey;
  @include rem(font-size, 16);
  margin: 0 0 $base-spacing-unit*2;
  span {
    color: $white;
  }
}

/**
 * Playlist stuff
 */

.playlist__wrapper {
  padding: $base-spacing-unit;
  text-align: center;
}

.playlist__title {
  border: 2px solid $medium-grey;
  border-radius: 4px;
  color: $medium-grey;
  display: inline-block;
  @include rem(font-size, 10);
  font-weight: 700;
  margin-top: 0;
  padding: 3px 6px;
  text-align: center;
}

.playlist {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;

  li {
    border-bottom: 1px solid $border-color;
    display: table;
    @include rem(font-size, 12);
    font-weight: 700;
    margin-bottom: 9px;
    padding: 0 12px 8px;
    width: 100%;
  }
}

.playlist__song {
  display: table-row;
  width: 100%;
}

.song__title {
  display: table-cell;
}

.song__duration {
  display: table-cell;
  text-align: right;
}

.player__controls {
  @extend .clearfix;
  color: $grey;
  @include rem(font-size, 72);
  font-family: $title-font;
  font-weight: 300;
  margin-top: $base-spacing-unit;
  line-height: 1;
  @include media(max-width $base-width) {
    @include rem(font-size, 60);
  }
}

.player__time-timer {
  color: $white;
}

.player__mute {
  background: image-url('unmute.svg') 0 center no-repeat;
  background-size: 36px 24px;
  border: none;
  color: $white;
  display: inline-block;
  @include rem(font-size, 16);
  height: 24px;
  line-height: 24px;
  opacity: .5;
  padding-left: 36px;
  @include transition(opacity .2 ease-in-out);
  &:hover {
    border: none;
    opacity: .8;
    text-decoration: none;
  }
}

.player--muted {
  background: image-url('mute.svg') 6px center no-repeat;
  background-size: 24px;
}

.player__time-indicator {
  background-color: transparent;
  bottom: 0;
  clear: both;
  height: 4px;
  float: left;
  margin: 0;
  position: absolute;
  width: 100%;

  .player__time-progress {
    @include transition(width .5s linear);
    background-color: $grey;
    height: 100%;
    width: 0%;
  }
}

.player__background {
  background-color: $black;
  background-image: image-url('bg-lush.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  left: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  @include filter(blur(35px) brightness(0.4) grayscale(0.2));
}